//COLOR
$white-color: #fff;
$black-color: #000;
$red-color: red;
$purple-color: #AE18E2;
$checkbox-uncheck-color: #D9D9D9;
$gray-color: #eee;
$more-gray-color: #ccc;
//FONT WEIGHT
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

//MAIN
$main-width: 100%;
$large-screen-inner-width: 80%;

//HEADER
$header-main-height: 50px;
 